@charset "utf-8";
/* CSS Document specific to the Home Page portion of the HC 2017 Web Presence */

body {
	background-image: url(../images/HonorCon_Home/Home-Page-background.png); /*this is all that will change between pages */
}

.homebutton{
	background-image: url(../images/Main_Menu_Parts/home-active.png);
}

.programbutton{
	background-image: url(../images/Main_Menu_Parts/programming.png);
}

.programbutton:hover{
	background-image: url(../images/Main_Menu_Parts/programming-over.png);
}

.venuebutton{
	background-image: url(../images/Main_Menu_Parts/venue.png);
}

.venuebutton:hover{
	background-image: url(../images/Main_Menu_Parts/venue-over.png);
}

.guestsbutton{
	background-image: url(../images/Main_Menu_Parts/guests.png);
}

.guestsbutton:hover{
	background-image: url(../images/Main_Menu_Parts/guests-over.png);
}

.contactbutton{
	background-image: url(../images/Main_Menu_Parts/contact.png);
}

.contactbutton:hover{
	background-image: url(../images/Main_Menu_Parts/contact-over.png);
}

.faqbutton{
	background-image: url(../images/Main_Menu_Parts/faq.png);
}

.faqbutton:hover{
	background-image: url(../images/Main_Menu_Parts/faq-over.png);
}

ul{
	list-style: none;
	height:90%;
}

li{ 
	text-align: left;
	margin-top: 4%;
	height:22%;
	width:77%;
	background-color: rgba(0,0,0,.5);
	border-radius: 0 12px 12px 12px;
	-moz-border-radius: 0 12px 12px 12px;
	-webkit-border-radius: 0 12px 12px 12px;
	box-shadow: 0 0 0 3px #F2A22F;
}

#anone{
	margin-left:5%;
}

#antwo{
	margin-left:10%;
}

#anthree{
	margin-left:15%;
}

.newsitem1, .newsitem2, .newsitem3 {
	height:100%;
}

.announcegraphic {
	height:100%;
	float:left;
}

li {
	list-style: none;
}

@media screen and  (max-width:959px){
	
	.newsitem1, .newsitem2, .newsitem3{
		height:100px;
	}
}