@charset "utf-8";
/* CSS Document specific to the Home Page portion of the HC 2017 Web Presence */

body {
	background-image: url(../images/HonorCon_Programming/programming-page-background.png);
}

.panel > .panel-heading {
	background: #4f4769; /* Old browsers */
	background: -moz-linear-gradient(top, #4f4769 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4f4769 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4f4769 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4769', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.panel > .panel-body {
	background:transparent;
}

.panel-body{
	background:transparent;
}

.panel-default {
	background:transparent;
}