@charset "utf-8";

/* CSS Document specific to the Home Page portion of the HC 2017 Web Presence */

img {
	max-width: 100%;
}

#slideshow:after, #slideshow2:after, #slideshow3:after  {
	content: "";
	display: table;
	clear: both;
}

#slideshow img, #slideshow2 img, #slideshow3 img {
	float: left;
	margin: 0 -100% 0 0;
}

li{
	list-style: circle;
	color: white;
}

h1 {
	font-family: SerpentineBold;
}

body {
	background-image: url(../images/HonorCon_Venue/venue-background.png); /*this is all that will change between pages */
}

.homebutton{
	background-image: url(../images/Main_Menu_Parts/home.png);
}

.homebutton:hover{
	background-image: url(../images/Main_Menu_Parts/home-over.png);
}

.programbutton{
	background-image: url(../images/Main_Menu_Parts/programming.png);
}

.programbutton:hover{
	background-image: url(../images/Main_Menu_Parts/programming-over.png);
}

.venuebutton{
	background-image: url(../images/Main_Menu_Parts/venue-active.png);
}

.guestsbutton{
	background-image: url(../images/Main_Menu_Parts/guests.png);
}

.guestsbutton:hover{
	background-image: url(../images/Main_Menu_Parts/guests-over.png);
}

.contactbutton{
	background-image: url(../images/Main_Menu_Parts/contact.png);
}

.contactbutton:hover{
	background-image: url(../images/Main_Menu_Parts/contact-over.png);
}

.faqbutton{
	background-image: url(../images/Main_Menu_Parts/faq.png);
}

.faqbutton:hover{
	background-image: url(../images/Main_Menu_Parts/faq-over.png);
}

.column{
	background-color: rgba(0,0,0,.5);
	height:98%;
	width:32%;
	float:left;
	margin-top:1%;
	margin-right:1%;
}

@media screen and  (max-width:959px){
	.column{
		width:100%;
	}
	
}